<div class="border p-3 rounded-xl">
<p>tags:</p>
<div class="grid-cols-5 max-w-xs space-x-2">

  <mat-chip-option>React</mat-chip-option>
  <mat-chip-option>Angular</mat-chip-option>
    <mat-chip-option>Vue</mat-chip-option>
    <mat-chip-option>Node</mat-chip-option>
    <mat-chip-option>Express</mat-chip-option>
    <mat-chip-option>JavaScript</mat-chip-option>
    <mat-chip-option>HTML</mat-chip-option>
    <mat-chip-option>CSS</mat-chip-option>
    <mat-chip-option>some</mat-chip-option>


</div>
</div>
