<div>
  <!-- HEADERRRRRRR -->

  <div class="sticky top-0 z-20 border-b bg-white">
    <div
      class="w-full flex px-10 py-2 space-x-3 max-w-7xl mx-auto items-center"
    >
      <img
        src="../../assets/images/png/logo-no-background.png"
        alt="ask-once logo"
        class="h-20 hidden md:inline-block"
      />
      <div class="flex-1">
        <h1 class="text-xl text-indigo-800">Welcome to {{ classRoomName }}</h1>
        <p class="text-indigo-800 text-sm">{{ user.firstName }}</p>
      </div>

      <button mat-icon-button (click)="logOut()">
        <mat-icon class="text-indigo-800">logout</mat-icon>
      </button>
    </div>
  </div>

  <!-- HEADERRR ENDS HERE-->
  <div
    class="second-header flex pt-7 justify-center px-3 md:px-0 md:max-w-5xl mx-auto"
  >
    <input
      type="text"
      class="flex-1 rounded-3xl font-thin px-10 w-full border-2 border-indigo-300 max-w-3xl"
      placeholder="search for questions"
      (keyup)="onKey($event)"
    />
    <button
      class="bg-white px-3 h-10 rounded-md text-indigo-800 hover:text-indigo-600"
      (click)="search()"
      mat-icon-button
    >
      <mat-icon class="text-black text-2l"> search </mat-icon>
    </button>
  </div>

  <!-- BODY -->

  <div
    class="flex flex-col-reverse md:flex-row md:max-w-5xl md:mx-auto md:mt-20 md:space-x-10"
  >
    <div class="md:flex-1">
      <!-- LIST OF QUESTOINS -->

      <div class="">
        <div class="mb-10">
          <div *ngIf="questions?.length === 0; else bod">
            <img src="../../assets/images/empty.jpg" alt="the images" />
          </div>
          <ng-template #bod>
            <div
              *ngFor="let ques of questions"
              class="pt-2 md:border-l-2 border-indigo-700 px-3"
            >
              <mat-card>
                <div (click)="showAns(ques)" class="cursor-pointer">
                  <mat-card-header>
                    <div>
                      <div>
                        <p class="text-gray-400">{{ user.firstName }}</p>
                      </div>
                      <mat-card-title>{{ ques?.question }}</mat-card-title>
                      <!-- <mat-card-subtitle>{{Date.now()}}</mat-card-subtitle> -->
                    </div>
                  </mat-card-header>
                  <mat-card-content>{{ ques?.description }}</mat-card-content>
                  <div class="pl-3 pt-2 flex items-center space-x-2">
                    <mat-chip *ngFor="let tag of ques.tags"
                      >#{{ tag }}</mat-chip
                    >
                  </div>
                </div>

                <mat-card-actions>
                  <div class="space-x-3 flex items-center justify-center">
                    <button
                      mat-icon-button
                      *ngIf="!ques.likes.includes(user._id); else likedButton"
                      (click)="addLikes(ques)"
                    >
                      <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <ng-template #likedButton>
                      <button
                        mat-icon-button
                        color="primary"
                        (click)="addLikes(ques)"
                      >
                        <mat-icon>arrow_upward</mat-icon>
                      </button>
                    </ng-template>

                    <p class="text-xs -ml-2">{{ ques.likes.length }}</p>

                    <button
                      mat-icon-button
                      *ngIf="
                        user._id === ques.askedBy._id ||
                        user.role === 'PROFESSOR'
                      "
                      (click)="deleteQuestion(ques._id)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>

                    <div class="flex items-center justify-center">
                      <button mat-icon-button (click)="showAns(ques)">
                        <mat-icon>question_answer</mat-icon>
                      </button>
                      <p class="text-xs -ml-2">{{ ques.answer_count }}</p>
                    </div>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
          </ng-template>
        </div>
      </div>
      <!-- LIST OF QUESTIONS ENDS HERE -->
    </div>
    <div class="space-y-10 p-2">
      <!-- button -->
      <div class="">
        <button
          color="primary"
          mat-raised-button
          (click)="openDialog()"
          class="flex items-center"
          color="primary"
        >
          <mat-icon>add</mat-icon>
          create new question
        </button>
      </div>
      <div class="flex-shrink">
        <!-- tags section  -->
        <div class="md:border-l p-2">
          <p>Topics:</p>
          <div class="grid-cols-5 max-w-xs space-x-2">
            <mat-chip-option
              *ngFor="let tag of tags"
              (click)="addTagFilter(tag)"
              >#{{ tag }}</mat-chip-option
            >
          </div>
          <div class="h-52 w-52" *ngIf="!tags">
            <img src="../../assets/images/empty-tag.webp" alt="the images" />
          </div>
        </div>
        <!-- tags end here -->
      </div>
      <div class="hidden md:inline-block">
        <app-members [classRoomId]="classRoomId"></app-members>
      </div>
    </div>
  </div>

  <div></div>
</div>

<footer>
  <app-footer> </app-footer>
</footer>
