<div class="border-t  px-10 md:px-20 lg:52 py-12 text-indigo-900 ">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 justify-between">

    <div class="md:border-r flex items-center justify-center">
      <img src="../../assets/images/png/logo-no-background.png" alt="" class="h-20 md:h-52" />
    </div>
    <div class="space-y-3 md:border-r px-3">
      <p class="text-xl underline ">Our Mission</p>
      <p>
        Students who have questions during class sessions can post them on the site. The instructor responds. If the
        question wasn't asked earlier, the next group of students must ensure that it was, then ask it so the teacher
        can respond.

        The instructor might also use this platform to simplify any difficult passages on the slides, improve the
        presentation's materials, and address any potential student questions in advance. This will give the teacher a
        fantastic opportunity to make the most of the available time.

      </p>
    </div>
    <div>
      <p class="text-xl underline ">Our Mission</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt modi
        expedita fugit nesciunt! Ullam cumque saepe iusto, voluptatibus ea
        obcaecati porro! Reiciendis architecto voluptas praesentium illum modi, a
        officia.
      </p>
    </div>
  </div>

</div>
