<div class="mb-10">
  <div *ngFor="let ques of questions" class=" pb-3" >
  <mat-card>
    <mat-card-header>
      <div>
      <div>
        <p class="text-gray-400">{{user?.firstName}}</p>
      </div>
      <mat-card-title>{{ques?.question}}</mat-card-title>
      <!-- <mat-card-subtitle>{{Date.now()}}</mat-card-subtitle> -->
      </div>
    </mat-card-header>
    <mat-card-content>{{ques?.descritpion}}}</mat-card-content>
    <mat-card-actions>
      <div class="space-x-10">
        <button mat-button>LIKE</button>
        <button mat-button>DISLIKE</button>
        <a routerLink="/question">
          <button mat-button>ANSWER</button>
        </a>

      </div>
    </mat-card-actions>
  </mat-card>
</div>
</div>
