<div class="max-w-xs border p-3 rounded-xl">
  <p>members:</p>
  <div>
    <mat-list>
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>

      </div>
      <mat-divider></mat-divider>





      <!-- Dups to be removed -->
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex pt-2">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />

        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="flex pt-2 items-center">
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu" />
        <mat-list-item>Some-one</mat-list-item>
        <button>
          <i class="material-icons">delete</i>

        </button>

      </div>
      <mat-divider></mat-divider>


    </mat-list>
  </div>
</div>
