<div class="max-w-xs border p-3 rounded-xl">
  <p>Members</p>
  <div>
    <mat-form-field appearance="fill" *ngIf="user?.role === 'PROFESSOR'">
      <input
        matInput
        placeholder="Add member"
        [formControl]="searchFormControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayFunction"
        (optionSelected)="optionSelected($event)"
      >
        <mat-option
          *ngFor="let option of filterdOptions | async"
          [value]="option"
          class="flex justify-between align-center"
        >
          {{ option.firstName }} |
          {{ option.email }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-list>
      <div *ngFor="let member of members">
        <div class="flex pt-2">
          <img
            mat-card-avatar
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
            class="h-10 w-10 rounded-full"
          />
          <mat-list-item
            >{{ member.firstName }} {{ member.lastName }}</mat-list-item
          >
          <button
            *ngIf="user?.role === 'PROFESSOR'"
            (click)="deleteMember(member)"
          >
            <i class="material-icons">delete</i>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
