<div class="mb-10">
  <mat-card class=" border-t-2">
    <mat-card-header>
      <div>
        <p class="text-gray-400">someone</p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eligendi dignissimos adipisci delectus
        voluptatem corrupti, aperiam accusantium ut sunt, esse dolore. Praesentium assumenda reiciendis numquam possimus
        minus ipsum illo facere.</p>
    </mat-card-content>

  </mat-card>
</div>
