<!-- <mat-toolbar color="primary">
  <div class="pl-20 flex justify-center items-center space-x-96">
    <h1>Class-Room-name</h1>
    <div class="">
      <input type="text" class= "w-96 h-12 rounded-md font-thin" placeholder="search for questions">
    </div>


  </div>

</mat-toolbar> -->
<div class=" bg-indigo-800 flex py-5 px-10 space-x-5 ">
  <div class="flex flex-1  justify-between space-x-40">
    <h1 class=" text-4xl text-white">Modern Web Programing-Assad Saad</h1>
    <input type="text" class= "flex-1 h-12 rounded-md font-thin px-10" placeholder="search for questions">

  </div>
  <button class="bg-white px-6 rounded-md text-indigo-800 hover:bg-indigo-800 hover:text-white hover:ring-white hover:ring-1">Logout</button>

</div>
