<div class="homepage">
  <mat-toolbar color="primary" class="nav">
    <div class="container nav-content">
      <span>Welcome, {{ user?.firstName }} </span>
      <button mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="container main-content">
    <div class="card" routerLink="" *ngFor="let class of classRooms" >
      <a [routerLink]="'classroom/' + class._id" class="classroom-card">
        <mat-card class="">
          <mat-card-header>
            <mat-card-subtitle>{{
              class.professor.firstName
            }}</mat-card-subtitle>
            <mat-card-title>{{ class.name }}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>Number Of Questions: {{ class.students.length }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <button mat-fab (click)="onAddButtonClick()" class="fab-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
