.homepage {
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  z-index: 2;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  padding-top: 5em;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  width: 30%;
}

.card > a {
  color: black;
}

.fab-button {
  position: fixed;
  bottom: 8em;
  right: 15%;

  width: 80px;
  height: 80px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
  .main-content {
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }
}
